
SUBSYSTEM=="block", KERNEL=="sd[a-z][0-9]", ACTION=="add",    GOTO="begin_add"
SUBSYSTEM=="block", KERNEL=="sd[a-z][0-9]", ACTION=="remove", GOTO="begin_remove"
GOTO="end"

LABEL="begin_add"
  SYMLINK+="usbhd-%k", GROUP="root"
  ENV{ID_FS_LABEL_ENC}="usbhd-%k"
  IMPORT{program}="/sbin/blkid -o udev -p $tempnode"
  ENV{ID_FS_LABEL_ENC}=="5_Archiwum_Filmy", GOTO="tvarch_begin"
  GOTO="end"

LABEL="tvarch_begin"
  RUN+="/usr/bin/perl /usr/local/bin/osd_notify.pl $env{ID_FS_LABEL_ENC} connected tvarchive"
  ENV{MOUNT_DIR}="/myth/tv-archive/$env{ID_FS_LABEL_ENC}"
  RUN+="/bin/mkdir -p $env{MOUNT_DIR}"
  RUN+="/bin/mount -t auto -o rw,noauto,async,noexec,nodev,noatime /dev/%k $env{MOUNT_DIR}"
  RUN+="/usr/bin/df -h"
  RUN+="/bin/chmod 777 $env{MOUNT_DIR}"
  TAG+="systemd", ENV{SYSTEMD_WANTS}+="ext-usb-tvarch@\x20$env{ID_FS_LABEL_ENC}\x20connected.service"
  GOTO="end"

LABEL="begin_remove"
  ENV{ID_FS_LABEL_ENC}=="5_Archiwum_Filmy", GOTO="tvarch_unmount"
  GOTO="end"

LABEL="tvarch_unmount"
  RUN+="/usr/bin/perl /usr/local/bin/osd_notify.pl $env{ID_FS_LABEL_ENC} disconnected tvarchive"
  RUN+="/usr/bin/sleep 1"
  TAG+="systemd", ENV{SYSTEMD_WANTS}+="ext-usb-tvarch@\x20$env{ID_FS_LABEL_ENC}\x20disconnected.service"
  RUN+="/bin/umount -l $env{MOUNT_DIR}"

LABEL="end"
